{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushi delivery</title>
    <!-- Latest compiled and minified CSS -->
    <link href="{% static 'sushi/css/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src=" {% static 'sushi/js/bootstrap.bundle.min.js' %} "></script>
    <link rel="stylesheet" href=" {% static 'sushi/css/estilo.css' %} ">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if message.level == 25 %}
        <script>
            Swal.fire({
                title: 'Exito!',
                text: '{{message}} {{message.level}}',
                icon: 'success',
                confirmButtonText: 'Ok'
            })


        </script>
        {% endif %}
        {% if message.level == 30 %}
        <script>
            Swal.fire({
                title: 'Exito!',
                text: '{{message}} {{message.level}}',
                icon: 'warning',
                confirmButtonText: 'Ok'
            })


        </script>
        {% endif %}
        {% if message.level == 20 %}
        <script>
            Swal.fire({
                title: 'Hasta Pronto!',
                text: '{{message}}',
                icon: 'info',
                confirmButtonText: 'Ok'
            })


        </script>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% block links %}

    {% endblock links %}



</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-danger">
        <div class="container">

            <a class="navbar-brand" href="{% url 'index' %}">
                <img src=" {% static 'sushi/img/dog3logo.png' %} " alt=" Avatar Logo" style="width:40px;"
                class="rounded-pill">
            </a>

            <a class="navbar-brand" href="{% url 'index' %}">Sushiwawa</a>
            <button class=" navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href=" {% url 'index' %}" aria-current="page">Home
                                <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Menú</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mispedidos' %}">Mis pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Administración</a>
                            <div class="dropdown-menu bg-danger shadow drophovercustom" aria-labelledby="dropdownId">
                                <a class="dropdown-item drophovercustom" href=" {% url 'productos' %}">Productos</a>
                                <a class="dropdown-item drophovercustom" href="">Pedidos</a>
                                <a class="dropdown-item drophovercustom" href="">Clientes</a>
                            </div>
                        </li>
                    </ul>
                    <!-- <ul class="navbar-nav me-auto mt-2 mt-lg-0 " >
                    <li class="nav-item">
                        <a class="nav-link" href="#">Usuario</a>
                    </li>
                </ul> -->
                 
                    {% if user.is_authenticated %}
                        <span id="sesionlink"><a class="nav-link text-light sesiontext" href="">{{user.username}} |</a></span>
                       {% comment %}  <form action="{% url "logout" %}" method="post">
                            {% csrf_token %}
                            <span id="sesionlink"><button type="submit" class='nav-link text-light sesiontext'>&nbsp;Cerrar Sesión</button></span>
                        </form> {% endcomment %}

                        <span id="sesionlink"><a class="nav-link text-light sesiontext" href="{% url "logout_view" %}">&nbsp;Cerrar Sesión</a></span>
                    {% else %}
                        <span id="sesionlink"><a class="nav-link text-light sesiontext" href="{% url 'login' %}">Iniciar Sesión</a></span>
                        <span id="sesionlink"><a class="nav-link text-light sesiontext" href="">|</a></span>
                        <span id="sesionlink"><a class="nav-link text-light sesiontext" href="{% url 'registro' %}">Crear cuenta</a></span>
                    {% endif %}


                </div>
        </div>
    </nav>
    {% block contenido %}



    {% endblock contenido %}







</body>

</html>