{% extends "sushi/base.html" %}
{% load static %}


{% block contenido %}

<div class="container">

    <div class="row mt-4">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="border shadow rounded p-5">
                <h3>Nuevo Producto</h3>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" class="btn btn-success btn-lg mt-2" value="Enviar">
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>


</div>



{% endblock contenido %}