{% extends "sushi/base.html" %}
{% load static %}



{% block links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock links %}




{% block contenido %}

    <div class="container"><!--main container-->
      <div class="mt-3">
        <h1 class="h4">Listado de Productos</h1>
        <p ><a href="{% url "crearproducto" %}" class="nodecolink"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar un producto</p></a>
      </div>
      <div class="mt-2 table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Producto</th>
                <th>Imagen</th>
                <th>Descripción</th>
                <th>Valor</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for p in productos  %}
              <tr>
                <td>{{p.id}}</td>
                <td>{{p.nombre_producto | title}}</td>
                <td><img src="{{p.imagen.url}} " alt="" height="50"></td>
                <td>{{p.descripcion | capfirst}}</td>

                <td>${{p.valor }}</td>
     
                <td>
                    <a href="{% url "modificarproducto" p.id %}" role="button" class="btn btn-warning text-light"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a href="{% url "eliminarproducto" p.id %}" role="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <ul class="pagination text-center">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
          </ul>
      </div>



    </div><!--main container ends-->

    {% endblock contenido %}


